# Bibliotecas principais
streamlit
pandas
numpy

# Visualização de dados
plotly
matplotlib

# Integração com Google Sheets
gspread
oauth2client
google-auth
google-auth-oauthlib
google-api-python-client

# AWS e armazenamento
boto3

# Processamento de imagens
pillow

# Manipulação de dados
python-dateutil
pytz

# Utilitários
requests


# Formatação e estilo
jinja2
markupsafe

# Manipulação de arquivos
openpyxl
xlrd
